.list {
  height: calc(100vh - 192px);
}

@media (min-width: 0) and (orientation: landscape) {
  .list {
    height: calc(100vh - 184px);
  }
}

@media (min-width: 600px) {
  .list {
    height: calc(100vh - 200px);
  }
}
